* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #282D35;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #21222A;
}

.nav-text {
    margin: 0;
    margin-right: auto;
    color: #61DAFB;
}

.nav-items {
    list-style: none;
    display: flex;
    color: #DEEBF8;
}

.nav-items>li {
    padding: 0 3rem;
    color: #DEEBF8;
}

.nav-logo {
    width: 10rem;
    margin-left: -2rem;
}

/* main */
main {
    padding: 57px 27px;
    color: white;
    /* background logo */
    background-image: url("./logo.svg");
    background-repeat: no-repeat;
    background-position: 70.2rem
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px;
}

.main--facts>li {
    line-height: 19px;
    padding-block: 10px;
}

.main--facts>li::marker {
    font-size: 1.5rem;
    color: #61DAFB;
}